<h3>MapRedirect</h3>
@page "/mapredirect"
 @inject NavigationManager nav;
 @inject UserService Userservice
@inject AuthService AuthService
@code {
    protected override async Task OnInitializedAsync()
    {
        nav.NavigateTo($"maps/{Userservice.CurrentUser.location.lat}/{Userservice.CurrentUser.location.lng}");
    }
}
