@page "/maps/{param1}/{param2}"

@inject NavigationManager NavManager;
@inject IJSRuntime JSRuntime

<div id="map" style="height:800px;width:300px;">
</div>


@code {

    [Parameter]
    public Tuple<String,string> LatnLng { get; set; }
    
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
             
            
        }

    }
    [Parameter]
    public string param1 { get; set; }
    [Parameter]
    public string param2 { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Model.ApiServices a = new Model.ApiServices();
        List<Model.Locations> locations =locations = await a.GetAllLocations();
        await JSRuntime.InvokeVoidAsync("initialize", locations);
        var uri = new Uri(NavManager.Uri);
        var queryString = System.Web.HttpUtility.ParseQueryString(uri.Query);
        if (queryString.AllKeys.Contains("param1"))
        {
            param1 = Uri.UnescapeDataString(queryString["param1"]);
        }

        if (queryString.AllKeys.Contains("param2"))
        {
            param2 = Uri.UnescapeDataString(queryString["param2"]);
        }
            
        
    }
}