@page "/"
@using Microsoft.AspNetCore.Components;
@using Model;
@using DataLayer;
<h1>Hello, world!</h1>
<div>
    <ul>
        @if (b)
        {
            foreach (Product i in l)
            {
                <li> @i.ProductName</li>
            }
            <img src="@UsersDTO.GetProfilePhoto(1)" />
        }

    </ul>
</div>

@code{
    List<Product> l = null;
    bool b = false;
    ApiServices es = new ApiServices();
    protected override async Task OnInitializedAsync()
    {
        await GetC(1,false);
    }

    public async Task GetC(int id,bool isphone)
    {
        l = await es.Getc(id,isphone);
        b = true;
    }

}
