@page "/maps"
@inject IJSRuntime JSRuntime 
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject NavigationManager NavManager;
@if (b)
{
    <h1>Display Google Map</h1>
    <div id="map" style="height:500px;width:100%;">
    </div>
    <p>
        Lat : @tup.Item1
        Lang: @tup.Item2;
    </p>
}

@code {
    string lat = "32.686117466461006";
    string lng = "35.24241865246057";
    bool b = false;
    Tuple<string,string> tup= null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            var t = await MySession.GetAsync<Tuple<string,string>>("name");
            if (t.Success)
            {
                b = true;
                tup = t.Value;
                StateHasChanged();
                await JSRuntime.InvokeVoidAsync("initialize", tup.Item1, tup.Item2);
                
            }
            else
                NavManager.NavigateTo("/");
            
        }
    }
}
